In [3]:
import pandas as pd
import numpy as np

In [4]:
#Create a simple dataframe
df = pd.DataFrame({
    'name' :     [ 'Chi', 'Alex', 'Sam', 'Hoang', 'Linh', 'Dung', 'Anh'],
    'function' : [ 'Marketing', 'Tech', 'Tech', 'Finance', 'Finance', 'Marketing', 'HR'],
    'address' :  [ 'Hanoi', 'Saigon', 'Hanoi', 'Saigon', 'Hanoi', 'Hanoi', 'Saigon'],
    'gender' :   ['F', 'M', 'F', 'M', 'M', 'M', 'F'],
    'favourite_fruit' : [ 'apple', 'banana', 'orange', 'watermelon', 'grape', np.NAN, 'kumquat'],
    'age' : [20,25,21,26,30,31,23]
})

In [5]:
df.head()

    name   function address gender favourite_fruit  age
0    Chi  Marketing   Hanoi      F           apple   20
1   Alex       Tech  Saigon      M          banana   25
2    Sam       Tech   Hanoi      F          orange   21
3  Hoang    Finance  Saigon      M      watermelon   26
4   Linh    Finance   Hanoi      M           grape   30

In [29]:
df[df['name'] == 'Alex']['favourite_fruit'].values.tolist()

['banana']